<ion-view hide-back-button="false" title="Chess" id="chessSelectLevel">
  <style>
  
  </style>

  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
      <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('easy')">
                <i class="icon ion-ribbon-a"></i>
                <h2>Facil</h2>
                <p>Wins: {{EasyWins}} -- Loses: {{EasyLoses}}</p>
                <p>Moves: {{EasyMoves}} -- Time: {{EasyTime}}</p>
                <i class="icon ion-trash-b"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('normal')">
                <i class="icon ion-ribbon-a"></i>
                <h2>Normal</h2>
                <p>Wins: {{NormalWins}} -- Loses: {{NormalLoses}}</p>
                <p>Moves: {{NormalMoves}} -- Time: {{NormalTime}}</p>
                <i class="icon ion-trash-b"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('hard')">
                <i class="icon ion-ribbon-a"></i>
                <h2>Dificil</h2>
                <p>Wins: {{HardWins}} -- Loses: {{HardLoses}}</p>
                <p>Moves: {{HardMoves}} -- Time: {{HardTime}}</p>
                <i class="icon ion-trash-b"></i>
            </a>
        </div>
  </ion-content>

</ion-view>