<ion-view title="Menu" id="page14">
    <style>
        .width50 {
            width: 48%;
        }
        
        .floatL {
            float: left;
        }
        
        .floatR {
            float: right;
        }
        /*
  @-webkit-keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(100%,0,0);
  }
}


.slide-in{
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}
*/
        
        .containerCircles {
            text-align: center;
            margin: 50px 0 10px 0;
        }
        
        .rotateY {
            transform: rotateY(130deg);
            transition: all 1s ease;
        }
        
        .bar-header {
            background-image: linear-gradient(0deg, #32408f, #32408f 50%, transparent 100%);
        }
        
        .buttonMenu {
            width: 80px;
            height: 80px;
            background: #2196f3;
            border-radius: 50%;
            /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        
        .buttonText {
            text-align: center;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        
        .buttonIcon {
            text-align: center;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            padding-top: 5px;
        }
        
        #buttonOptions {
            width: 50px;
            height: 50px;
            -ms-transform: translate(-150%, 100%);
            -webkit-transform: translate(-150%, 100%);
            transform: translate(-150%, 100%);
            border: 3px solid #448AFF;
            background: white;
        }
        
        #buttonPlay {
            width: 80px;
            height: 80px;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            transition: all .3s ease;
        }

        .buttonPlaySecondPosition {
            width: 60px!important;
            height: 60px!important;
        }
        
        #buttonShare {
            width: 50px;
            height: 50px;
            /* old
            -ms-transform: translate(50%, 100%);
            -webkit-transform: translate(50%, 100%);
            transform: translate(50%, 100%);
            */
            -ms-transform: translate(125%, -50%);
            -webkit-transform: translate(125%, -50%);
            transform: translate(125%, -50%);
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
        }
        
        .buttonShareSecondPosition {
            -ms-transform: translate(50%, 100%)!important;
            -webkit-transform: translate(50%, 100%)!important;
            transform: translate(50%, 100%)!important;
        }
        
        #buttonScores {
            width: 50px;
            height: 50px;
            -ms-transform: translate(125%, -50%);
            -webkit-transform: translate(125%, -50%);
            transform: translate(125%, -50%);
            border: 3px solid #448AFF;
            background: white;
        }
        
        #buttonEvaluate {
            width: 50px;
            height: 50px;
            -ms-transform: translate(-225%, -50%);
            -webkit-transform: translate(-225%, -50%);
            transform: translate(-225%, -50%);
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
        }
        
        .buttonEvaluateSecondPosition {
            -ms-transform: translate(-150%, 100%)!important;
            -webkit-transform: translate(-150%, 100%)!important;
            transform: translate(-150%, 100%)!important;
        }
        
        #buttonSudoku {
            z-index: -1;
            width: 50px;
            height: 50px;
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
        }
        
        .buttonSudokuSecondPosition {
            transform: translate(-25px, -112px)!important;
        }
        
        #buttonCalculator {
            z-index: -1;
            width: 50px;
            height: 50px;
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
        }
        
        .buttonCalculatorSecondPosition {
            transform: translate(-100px, -75px)!important;
        }
        
        #buttonChess {
            z-index: -1;
            width: 50px;
            height: 50px;
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
        }
        
        .buttonChessSecondPosition {
            transform: translate(52px, -75px)!important;
        }

        #buttonClose {
            z-index: 2;
            width: 60px;
            height: 60px;
            background: #2196f3;
            transition: all .3s ease; 
            pointer-events: none;
            opacity: 0;
        }

        .buttonCloseSecondPosition {
            opacity: 1!important;
        }
        
        #halo {
            z-index: -2;
            position: absolute;
            width: 180px;
            height: 180px;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 3px solid #448AFF;
        }
    </style>

    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <div id="mainMenu-container4" class="creator-container containerCircles">
            <img width="48" height="48" src="img/circle1.svg"></img>
            <img width="48" height="48" src="img/circle2.svg"></img>
            <img width="48" height="48" src="img/circle3.svg"></img>
            <img width="48" height="48" src="img/circle4.svg"></img>
        </div>

        <div id="halo"></div>
        <div class="buttonMenu" id="buttonPlay" ng-click="openListGames()">
            <div class="buttonText">{{mainMenuCtrl_play}}</div>
        </div>

        <div class="buttonMenu" id="buttonClose">
            <div class="buttonIcon"><img src="img/close.svg" alt="" ui-sref="selectLevel"></div>
        </div>
        <!--
        <div class="buttonMenu" id="buttonScores">
            <div class="buttonIcon"><img src="img/trophy.svg" alt="" ng-click="goTo('menuRecordsCal')"></div>
        </div>
        -->
        <div class="buttonMenu" id="buttonCalculator">
            <div class="buttonIcon"><img src="img/calculator.svg" alt="" ui-sref="selectLevel"></div>
        </div>

        <div class="buttonMenu" id="buttonChess">
            <div class="buttonIcon"><img src="img/keg.svg" alt="" ng-click=""></div>
        </div>

        <div class="buttonMenu" id="buttonEvaluate">
            <div class="buttonIcon"><img src="img/heart.svg" alt="" ng-click="showValorateModal()"></div>
        </div>
        <!--
        <div class="buttonMenu" id="buttonOptions" ng-click="openModal()">
            <div class="buttonIcon"><img id="imgAccount" src="img/account.svg" alt=""></div>
        </div>
        -->
        <div class="buttonMenu" id="buttonSudoku" ui-sref="sudokuSelectLevel">
            <div class="buttonIcon"><img id="imgAccount" src="img/grid.svg" alt=""></div>
        </div>

        <div class="buttonMenu" id="buttonShare">
            <div class="buttonIcon"><img src="img/share.svg" alt="" ng-click="shareViaTwitter('some message', null, 'https://www.thepolyglotdeveloper.com')"></div>
        </div>
        <!--
        <button class="button button-full button-positive" ui-sref="sudokuBoard">Sudoku Board</button>
        <button class="button button-full button-positive" ui-sref="sudokuSelectLevel">Sudoku Select Level</button>
-->
        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar align-title="left" class="bar-positive">
                    <h1 class="title">{{mainMenuCtrl_userProfile}}</h1>
                    <div class="buttons">
                        <button class="button icon ion-close" ng-click="closeModal()"></button>
                    </div>
                </ion-header-bar>
            <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">{{mainMenuCtrl_nickName}}</span>
              <input id="inputNickUser" type="text" placeholder="">
            </label>
            <label class="item item-input">
              <span class="input-label">{{mainMenuCtrl_email}}</span>
              <input id="inputEmailUser" type="text" placeholder="">
            </label>
            <button class="button button-full button-positive" ng-click="validateInfo()">{{mainMenuCtrl_save}}</button>
            <button class="button button-full button-clear button-assertive" ng-click="showConfirmResetProfile()">{{mainMenuCtrl_reset}}</button>
          </div>
        </ion-content>
                    <!--
                <ion-content>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">{{mainMenuCtrl_nickName}}</span>
                            <input id="inputNickUser" type="text" placeholder="">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">{{mainMenuCtrl_email}}</span>
                            <input id="inputEmailUser" type="text" placeholder="">
                        </label>
                    </div>
                    <button id="" ng-click="validateInfo()" class="button button-positive button-block">{{mainMenuCtrl_save}}</button>
                    <button id="" class="button button-block" ng-click="showConfirmResetProfile()">{{mainMenuCtrl_reset}}</button>
                </ion-content>
                    -->
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>