<ion-view title="Menu" id="page14">
    <style>
        .width50 {
            width: 48%;
        }
        
        .floatL {
            float: left;
        }
        
        .floatR {
            float: right;
        }
        
        .containerCircles {
            text-align: center;
            margin: 50px 0 10px 0;
        }
        
        .rotateY {
            transform: rotateY(130deg);
            transition: all 1s ease;
        }
        
        .bar-header {
            background-image: linear-gradient(0deg, #32408f, #32408f 50%, transparent 100%);
        }
        
        .buttonMenu {
            width: 80px;
            height: 80px;
            background: #2196f3;
            border-radius: 50%;
            /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        
        .buttonText {
            text-align: center;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        
        .buttonIcon {
            text-align: center;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            padding-top: 5px;
        }
        
        #buttonOptions {
            width: 50px;
            height: 50px;
            -ms-transform: translate(-150%, 100%);
            -webkit-transform: translate(-150%, 100%);
            transform: translate(-150%, 100%);
            border: 3px solid #448AFF;
            background: white;
        }
        
        #buttonPlay {
            width: 80px;
            height: 80px;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            transition: all .3s ease;
        }
        
        .buttonPlaySecondPosition {
            width: 60px!important;
            height: 60px!important;
        }
        
        #buttonShare {
            width: 50px;
            height: 50px;
            /* old
            -ms-transform: translate(50%, 100%);
            -webkit-transform: translate(50%, 100%);
            transform: translate(50%, 100%);
            */
            -ms-transform: translate(125%, -50%);
            -webkit-transform: translate(125%, -50%);
            transform: translate(125%, -50%);
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
        }
        
        .buttonShareSecondPosition {
            -ms-transform: translate(50%, 100%)!important;
            -webkit-transform: translate(50%, 100%)!important;
            transform: translate(50%, 100%)!important;
        }
        
        #buttonScores {
            width: 50px;
            height: 50px;
            -ms-transform: translate(125%, -50%);
            -webkit-transform: translate(125%, -50%);
            transform: translate(125%, -50%);
            border: 3px solid #448AFF;
            background: white;
        }
        
        #buttonEvaluate {
            width: 50px;
            height: 50px;
            -ms-transform: translate(-225%, -50%);
            -webkit-transform: translate(-225%, -50%);
            transform: translate(-225%, -50%);
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
        }
        
        .buttonEvaluateSecondPosition {
            -ms-transform: translate(-150%, 100%)!important;
            -webkit-transform: translate(-150%, 100%)!important;
            transform: translate(-150%, 100%)!important;
        }
        
        #buttonSudoku {
            z-index: -1;
            width: 50px;
            height: 50px;
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
            opacity: 0;
        }
        
        .buttonSudokuSecondPosition {
            opacity: 1!important;
            transform: translate(-25px, -112px)!important;
        }
        
        #buttonCalculator {
            z-index: -1;
            width: 50px;
            height: 50px;
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
            opacity: 0;
        }
        
        .buttonCalculatorSecondPosition {
            opacity: 1!important;
            transform: translate(-100px, -75px)!important;
        }
        
        #buttonChess {
            z-index: -1;
            width: 50px;
            height: 50px;
            border: 3px solid #448AFF;
            background: white;
            transition: all .3s ease;
            opacity: 0;
        }
        
        .buttonChessSecondPosition {
            opacity: 1!important;
            transform: translate(52px, -75px)!important;
        }
        
        #buttonClose {
            z-index: 2;
            width: 60px;
            height: 60px;
            background: #2196f3;
            transition: all .3s ease;
            pointer-events: none;
            opacity: 0;
        }
        
        .buttonCloseSecondPosition {
            opacity: 1!important;
        }
        
        #halo {
            z-index: -2;
            position: absolute;
            width: 215px;
            height: 215px;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 3px solid #448AFF;
        }
        /* Ayuda */
        
        #buttonHelp {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 5px;
        }
        
        #helpOptions {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0 -20px 0 0;
        }
        
        .helpOptionsShowSecond {
            opacity: 1!important;
        }
        
        .helpTitle {
            color: black;
            text-align: center;
            width: 100px;
            opacity: 0;
            transition: all .5s ease;
        }
        
        #helpShare {
            margin: 10px 0 0 0;
        }
        
        #helpRate {
            margin: 10px 0 0 -50px;
        }
        
        #helpCalcu {
            margin: -60px 0 0 -50px;
        }
        
        #helpChess {
            margin: -55px 0 0 0px;
        }
        
        #helpSudoku {
            margin: -65px 0 0 -28px;
        }
        /* Menu ionico */
        .planet {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid #448AFF;
            background: white;
            
        }

        .backgroundRotate {
            width: 200px;
            height: 200px;
            transition: 1s all ease;
            position: absolute;
        }

        .ion {
            background: #3f51b5;
        }

        #galaxy {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
        
        #core {
            width: 75px;
            height: 75px;
            background: #448AFF;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }

        #planet1 {
            transform: rotate(90deg);
        } 

        #planet2 {
            transform: rotate(90deg);
        }

        #planet3 {
            transform: rotate(90deg);
        }

        #planet4 {
            transform: rotate(90deg);
        }

        #planet5 {
            transform: rotate(90deg);
        }

        .p1SecondPosition {
            transform: rotate(180deg)!important;
        }

        .p2SecondPosition {
            transform: rotate(472.5deg)!important;
        }

        .p3SecondPosition {
            transform: rotate(405deg)!important;
        }

        .p4SecondPosition {
            transform: rotate(337.5deg)!important;
        }

        .p5SecondPosition {
            transform: rotate(270deg)!important;
        }
        /* Fin Menu ionico */
    </style>

    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings"></button>
    </ion-nav-buttons>


    <ion-content padding="true" class="has-header">

        <div id="galaxy">
            <div id="halo"></div>
            <div class="backgroundRotate" id="planet2">
                <div class="planet">
                    <div class="buttonIcon">
                        <img src="img/grid.svg">
                    </div>
                </div>
            </div>

            <div class="backgroundRotate" id="planet3">
                <div class="planet">
                    <div class="buttonIcon" ui-sref="chessSelectLevel">
                        <img src="img/horse.svg">
                    </div>
                </div>
            </div>

            <div class="backgroundRotate" id="planet4">
                <div class="planet">
                    <div class="buttonIcon" ui-sref="selectLevel">
                        <img src="img/calculator.svg">
                    </div>
                </div>
            </div>

            <div class="backgroundRotate" id="planet5">
                <div class="planet">
                    <div class="buttonIcon">
                        <img src="img/share.svg">
                    </div>
                </div>
            </div>

             <div class="backgroundRotate" id="planet1">
                <div class="planet">
                    <div class="buttonIcon" ng-click="showValorateModal()">
                        <img src="img/heart.svg">
                    </div>
                </div>
            </div>

<!--
            <div class="backgroundRotate" id="planet1" class="buttonMenu">
                <div class="planet ion">
                </div>
            </div>
            -->
        </div>

        <div id="core" ng-click="openListGames()">
            <div class="buttonText">{{mainMenuCtrl_play}}</div>
        </div>


        <div style="display:none">
            <div id="mainMenu-container4" class="creator-container containerCircles">
                <img width="48" height="48" src="img/circle1.svg"></img>
                <img width="48" height="48" src="img/circle2.svg"></img>
                <img width="48" height="48" src="img/circle3.svg"></img>
                <img width="48" height="48" src="img/circle4.svg"></img>
            </div>

            <div id="halo"></div>
            <div class="buttonMenu" id="buttonPlay" ng-click="openListGames()">
                <div class="buttonText">{{mainMenuCtrl_play}}</div>
            </div>

            <div class="buttonMenu" id="buttonClose">
                <div class="buttonIcon"><img src="img/close.svg" alt="" ui-sref="selectLevel"></div>
            </div>

            <!--
        <div class="buttonMenu" id="buttonScores">
            <div class="buttonIcon"><img src="img/trophy.svg" alt="" ng-click="goTo('menuRecordsCal')"></div>
        </div>
        -->

            <!--
        <div class="buttonMenu" id="buttonOptions" ng-click="openModal()">
            <div class="buttonIcon"><img id="imgAccount" src="img/account.svg" alt=""></div>
        </div>
        -->

            <div class="buttonMenu" id="buttonSudoku" ui-sref="sudokuSelectLevel">
                <div class="buttonIcon"><img id="imgAccount" src="img/grid.svg" alt=""></div>
                <div class="helpTitle" id="helpSudoku">{{mainMenuCtrl_sudoku}}</div>
            </div>

            <div class="buttonMenu" id="buttonShare">
                <div class="buttonIcon"><img src="img/share.svg" alt="" ng-click="shareViaTwitter('some message', null, 'https://www.thepolyglotdeveloper.com')"></div>
                <div class="helpTitle" id="helpShare">{{mainMenuCtrl_share}}</div>
            </div>
        </div>




        <!-- Mensaje ayuda -->
        <div id="buttonHelp"><img src="img/comment-question-outline.svg" alt="" ng-click="showHelp()"></div>
        <span class="helpTitle" id="helpOptions">{{mainMenuCtrl_options}}</span>
        <!-- Fin Mensaje ayuda -->

        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar align-title="left" class="bar-positive">
                    <h1 class="title">{{mainMenuCtrl_userProfile}}</h1>
                    <div class="buttons">
                        <button class="button icon ion-close" ng-click="closeModal()"></button>
                    </div>
                </ion-header-bar>
            <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">{{mainMenuCtrl_nickName}}</span>
              <input id="inputNickUser" type="text" placeholder="">
            </label>
            <label class="item item-input">
              <span class="input-label">{{mainMenuCtrl_email}}</span>
              <input id="inputEmailUser" type="text" placeholder="">
            </label>
            <button class="button button-full button-positive" ng-click="validateInfo()">{{mainMenuCtrl_save}}</button>
            <button class="button button-full button-clear button-assertive" ng-click="showConfirmResetProfile()">{{mainMenuCtrl_reset}}</button>
          </div>
        </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>