<ion-view title="Select Level" id="pageSelectLevel">
    <style>

    </style>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('easy')">
                <i class="icon ion-tshirt"></i> Easy
                <i class="icon ion-android-unlock"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('normal')">
                <i class="icon ion-ribbon-b"></i> Normal
                <i class="icon ion-android-lock"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('hard')">
                <i class="icon ion-ribbon-a"></i> ionic 
                <i class="icon ion-android-lock"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('master')">
                <i class="icon ion-university"></i> Master
                <i class="icon ion-android-lock"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('kids')">
                <i class="icon ion-university"></i> Kids
                <i class="icon ion-android-lock"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('survival')">
                <i class="icon ion-university"></i> Survival
                <i class="icon ion-android-lock"></i>
            </a>
        </div>
    </ion-content>
</ion-view>