<ion-view title="Select Level" id="pageSudokuSelectLevel">
    <style>

    </style>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('easy')">
                <i class="icon ion-ribbon-a"></i>
                <h2>Facil</h2>
                <i class="icon ion-trash-b"></i>
            </a>
        </div>
    </ion-content>
</ion-view>