<ion-view title="Select Level" id="pageSudokuSelectLevel">
    <style>

    </style>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-android-settings" ng-click="openSettings()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('easy')">
                <i class="icon ion-ribbon-a"></i>
                <h2>{{sudokuSelectLevelCtrl_easy}}</h2>
                <p> {{sudokuSelectLevelCtrl_wins}}: {{easyWins}} :: {{sudokuSelectLevelCtrl_time}}: {{easyTime}} </p>
                <i class="icon ion-trash-b"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('normal')">
                <i class="icon ion-ribbon-a"></i>
                <h2>{{sudokuSelectLevelCtrl_normal}}</h2>
                <p> {{sudokuSelectLevelCtrl_wins}}: {{normalWins}} :: {{sudokuSelectLevelCtrl_time}}: {{normalTime}} </p>
                <i class="icon ion-trash-b"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('hard')">
                <i class="icon ion-ribbon-a"></i>
                <h2>{{sudokuSelectLevelCtrl_hard}}</h2>
                <p> {{sudokuSelectLevelCtrl_wins}}: {{hardWins}} :: {{sudokuSelectLevelCtrl_time}}: {{hardTime}} </p>
                <i class="icon ion-trash-b"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="selectLevel('veryHard')">
                <i class="icon ion-ribbon-a"></i>
                <h2>{{sudokuSelectLevelCtrl_veryHard}}</h2>
                <p> {{sudokuSelectLevelCtrl_wins}}: {{veryHardWins}} :: {{sudokuSelectLevelCtrl_time}}: {{veryHardTime}} </p>
                <i class="icon ion-trash-b"></i>
            </a>
        </div>
    </ion-content>
</ion-view>